/* Reset and general styling */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    flex-direction: column;

}


.bg-video {
    position: fixed;  /* Fixe la vidéo en arrière-plan */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Couvre toute la page */
    z-index: -1; /* Derrière tout le contenu */
    
}

.home{
    display: flex;
    align-items: center;
    gap: 15rem;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.home-content {
    position: absolute;
    top: 25%;
    left: 10%;
    flex-direction: column;
    text-align: left;
    

}

.home-content h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;

}
.home-content h2{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;

}

span {
    color: #f1ce09;
}

.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}
.carte{
    display: flex;
    gap: 3rem;
}

.card{
    width: 150px;
    height: 150px; /* Légèrement plus haute pour meilleure disposition */
    perspective: 1000px;
    border-radius: 15px; /* Bordure arrondie */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

.content-card{
    background-color: rgb(173, 173, 173);

    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px; /* Bordure arrondie */
    transition: all 0.15s ease-out;
    display: flex;
    flex-direction: column; /* Pour placer image en haut et texte en bas */
    align-items: center;
    justify-content: space-between; /* Espacement entre image et texte */
    padding: 10px 0; /* Ajout d’un peu d’espace intérieur */
    position: relative;
 
}

.content-card img {
    width: 60%; /* Taille adaptée */
    height: auto;
    object-fit: contain;
    margin-top: 10px; /* Espace pour éviter d’être trop collé en haut */
}

.content-card h1 {
    color: black;
    font-size: 1rem;
    position: absolute;
    bottom: 10px; /* Aligné en bas */
    text-align: center;
    width: 100%;
}

.next{
    position: absolute;
    bottom: 10%;
    left: 45%;
    
}

.next button{
    padding: 30px 60px;
    font-size: 16px;
    background: #f1ce09;
    color: black;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 25px white;
}

.next button:hover{
    transform: scale(1.5);
}
 

.flappy{
    margin: 0;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    user-select:none;
    background-color: none;
}
header {
    margin: 0 auto;
    width: 431px;
}
h3{
    background: none;
    padding: 1.2rem 0 ;
    margin: 0;
}
.score-container{
    display: flex;
    justify-content: space-between;
    padding: 8px 6px;
    background-color: #5EE270;

}