.footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}
.footer a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
    

}