/* Reset and general styling */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    flex-direction: column;

}

.meteo{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
}

.container {
    position: relative;
    width: 400px;
    background-color: #fff;
    padding: 28px 32px;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
    text-align: center;
}

.search-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box input {
    color: #06283d;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
}

.search-box input::placeholder {
    font-size: 20px;
    font-weight: 500;
    color: #06283d;
    text-transform: capitalize;
}

.search-box button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06283d;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.search-box button:hover {
    color: #fff;
    background: #06283d;
}

.weather-box {
    text-align: center;
    margin-top: 20px;
}

.weather-box img {
    width: 60%;
    margin-top: 10px;
}

.weather-box .temperature {
    color: #06283d;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 10px;
}

.weather-box .description {
    color: #06283d;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
}

.weather-details .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    text-align: center;
}

.weather-details i {
    color: #06283d;
    font-size: 26px;
    margin-bottom: 5px;
}

.weather-details span {
    color: #06283d;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p {
    color: #06283d;
    font-size: 16px;
    font-weight: 500;

}

.not-found {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    display: none;
}

.not-found img {
    width: 70%;
}

.not-found p {
    color: #06283d;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.weather-box, .weather-details {
    scale: 0;
    opacity: 0;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}

.bg-video {
    position: fixed;  /* Fixe la vidéo en arrière-plan */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Couvre toute la page */
    z-index: -1; /* Derrière tout le contenu */
    
}

.home{
    display: flex;
    align-items: center;
    gap: 15rem;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.home-content {
    position: absolute;
    top: 25%;
    left: 10%;
    flex-direction: column;
    text-align: left;
    

}

.home-content h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;

}
.home-content h2{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;

}

span {
    color: #f1ce09;
}

.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}
.carte{
    display: flex;
    gap: 3rem;
}

.card{
    width: 150px;
    height: 150px; /* Légèrement plus haute pour meilleure disposition */
    perspective: 1000px;
    border-radius: 15px; /* Bordure arrondie */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

.content-card{
    background-color: rgb(173, 173, 173);

    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px; /* Bordure arrondie */
    transition: all 0.15s ease-out;
    display: flex;
    flex-direction: column; /* Pour placer image en haut et texte en bas */
    align-items: center;
    justify-content: space-between; /* Espacement entre image et texte */
    padding: 10px 0; /* Ajout d’un peu d’espace intérieur */
    position: relative;
 
}

.content-card img {
    width: 60%; /* Taille adaptée */
    height: auto;
    object-fit: contain;
    margin-top: 10px; /* Espace pour éviter d’être trop collé en haut */
}

.content-card h1 {
    color: black;
    font-size: 1rem;
    position: absolute;
    bottom: 10px; /* Aligné en bas */
    text-align: center;
    width: 100%;
}

.next{
    position: absolute;
    bottom: 10%;
    left: 45%;
    
}

.next button{
    padding: 30px 60px;
    font-size: 16px;
    background: #f1ce09;
    color: black;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 25px white;
}

.next button:hover{
    transform: scale(1.5);
}
 
.city-name {
    color: #06283d;
}